spring:
  application:
    name: online-library-system
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_URL:localhost}:3306/library_db?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true&serverTimezone=UTC
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:12345}
  jpa:
#    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: false
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate:sql: DEBUG
    org.springframework.security: TRACE

cloudinary:
  url: ${CLOUDINARY_URL:cloudinary://123456789012345:A12bc2BcdefGh34IjklM5678Nop@abcdefghi}