<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Library System</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}" />
    <link rel="stylesheet" th:href="@{/styles/reset.css}" />
    <link rel="stylesheet" th:href="@{/styles/library-system.css}" />
</head>

<body>
    <header th:fragment="header">
        <div class="logo-container">
            <a th:href="@{/}">
                <img class="logo" th:src="@{/images/logo.png}" alt="Logo image" />
            </a>
            <h1 class="header-heading">Online Library System</h1>
        </div>
        <nav class="header-navigation">
            <ul class="header-list">
                <li><a href="#">About Library</a></li>
                <li><a href="#">Authors</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Contacts</a></li>
                <li class="dropdown" th:if="${@currentUser.isLogged() && @currentUser.getRole().equals('ADMIN')}">
                    <span>Add <img class="arrow-icon" th:src="@{/images/dropdown-arrow.png}" alt="arrow"></span>
                    <ul class="dropdown-content">
                        <li>
                            <a th:href="@{authors/add}">Author</a>
                        </li>
                        <li>
                            <a href="#">Book</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" th:if="${@currentUser.isLogged() && @currentUser.getRole().equals('ADMIN')}">
                    <span>Edit <img class="arrow-icon" th:src="@{/images/dropdown-arrow.png}" alt="arrow"></span>
                    <ul class="dropdown-content">
                        <li>
                            <a href="#">Users</a>
                        </li>
                        <li>
                            <a href="#">Authors</a>
                        </li>
                        <li>
                            <a href="#">Books</a>
                        </li>
                    </ul>
                </li>
                <li th:unless="${@currentUser.isLogged()}">
                    <a th:href="@{/users/register}">Register</a>
                </li>
                <li th:unless="${@currentUser.isLogged()}">
                    <a th:href="@{/users/login}">Login</a>
                </li>
                <li class="user-space" th:if="${@currentUser.isLogged()}">
                    <div>
                        <p><span th:text="${@currentUser.getFullName()}">User</span></p>
                    </div>
                    <a href="#">Profile</a>
                    <form th:action="@{/users/logout}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <main>

    </main>
    
    <footer th:fragment="footer">
        <p>&copy; 2025 The Old Librarian</p>
    </footer>
</body>

</html>