<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Old Library</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/library-system.css}" />
</head>

<body>
    <header th:fragment="header">
        <div class="logo-container">
            <a th:href="@{/}">
                <img class="logo" th:src="@{/images/logo.png}" alt="Logo image" />
            </a>
            <h1 class="header-heading">The Old Library</h1>
        </div>
        <nav class="header-navigation">
            <ul class="header-list">
                <li><a th:href="@{/about}">About Library</a></li>
                <li><a th:href="@{/authors/all(page=0, size=6)}">Authors</a></li>
                <li><a th:href="@{/books/all(page=0, size=6)}">Books</a></li>
                <li><a th:href="@{/contacts}">Contacts</a></li>
                <li class="dropdown" sec:authorize="hasRole('ADMIN') || hasRole('STAFF')">
                    <span>Add <img class="arrow-icon" th:src="@{/images/dropdown-arrow.png}" alt="arrow"></span>
                    <ul class="dropdown-content">
                        <li>
                            <a th:href="@{/authors/add}">Author</a>
                        </li>
                        <li>
                            <a th:href="@{/books/add}">Book</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" sec:authorize="hasRole('ADMIN')">
                    <span>Edit <img class="arrow-icon" th:src="@{/images/dropdown-arrow.png}" alt="arrow"></span>
                    <ul class="dropdown-content">
                        <li>
                            <a href="#">Users</a>
                        </li>
                        <li>
                            <a href="#">Authors</a>
                        </li>
                        <li>
                            <a href="#">Books</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/users/register}">Register</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/users/login}">Login</a>
                </li>
                <li class="user-space" sec:authorize="isAuthenticated()">
                    <div>
                        <div class="user-avatar-container">
                            <img th:src="${#authentication.principal.imageURL}" alt="User avatar">
                        </div>
                    </div>
                    <div>
                        <p><span th:text="${#authentication.principal.getFullName()}">User</span></p>
                    </div>
                    <div class="dropdown">
                        <span>Profile <img class="arrow-icon" th:src="@{/images/dropdown-arrow.png}" alt="arrow"></span>
                        <ul class="dropdown-content">
                            <li>
                                <a th:href="@{/user/profile}">Profile data</a>
                            </li>
                            <li>
                                <a th:href="@{/user/change-password}">Change password</a>
                            </li>
                        </ul>
                    </div>
                    <form th:action="@{/users/logout}" th:method="post">
                        <button type="submit">Logout</button>
                    </form>
                    <div class="cart" title="Books to borrow">
                        <div>
                            <a th:href="@{/cart/content}"><img class="cart-img" th:src="@{/images/cart.png}" alt="Cart"></a>
                        </div>
                        <div class="badge" th:text="${#ctx.session.cartCount}">0</div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <main>

    </main>
    
    <footer th:fragment="footer">
        <p>&copy; 2025 The Old Librarian</p>
    </footer>
</body>

</html>