html,
body {
    margin: 0;
    height: 100vh;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #4f8db2;
    background-image: linear-gradient(to bottom right, rgba(134, 164, 182, 0.6), rgba(7, 76, 116, 0.8));
    color: #f9d342;
    width: 100%;
    height: 100px;
    padding: 10px 30px;
    font-size: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    height: 100%;
}

.logo {
    height: 100%;
}

.header-heading {
    display: block;
    font-size: 26px;
    margin-left: 10px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.header-navigation a,
.user-space button {
    color: #f9d342;
}

.header-navigation a:hover,
.user-space button:hover {
    color: #e9bd0c;
}

.user-space {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    border-radius: 6px;
    box-shadow: 2px 2px;
    margin-left: 10px;
}

.user-avatar-container {
    width: 50px;
    height: 50px;
    background-color: #4f8db2;
    border-radius: 50%;
    overflow: hidden;
}

.user-avatar-container img {
    width: 100%;
}

.user-space p {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.user-space button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
    cursor: default;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(to bottom right, rgba(134, 164, 182, 0.6), rgba(7, 76, 116, 0.8));
    min-width: 130px;
    padding: 6px 20px;
    margin-bottom: 20px;
    z-index: 1;
    list-style: none;
    border-radius: 6px;
    white-space: nowrap;
}

.dropdown-content li {
    margin: 8px 0;
    font-size: 17px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow-icon {
    width: 20px;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url('../images/background-library.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #a9a9a9;
    width: 100%;
    overflow: hidden;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #2a688c;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #f9d342;
}

/* Form */

.form-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-height: 90%;
    overflow: auto;
}

.form {
    background-image: linear-gradient(to bottom right, rgba(134, 164, 182, 0.6), rgba(7, 76, 116, 0.8));
    padding: 20px 30px 10px 30px;
    border-radius: 20px;
    color: #f9d342;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
}

.form-heading {
    display: block;
    font-size: 36px;
    color: #f9d342;
    text-align: center;
    margin-bottom: 10px;
}

.form-row-container {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.input-field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-file-width {
    max-width: calc((100% - 20px)/2);
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="number"],
.form textarea,
.form select {
    display: block;
    width: 100%;
    padding: 6px;
    font-size: 16px;
    color: #323538;
    border-radius: 6px;
    border: 1px solid #074c74;
    margin-top: 6px;
    outline: none;
}

.form input:focus,
.form select:focus {
    background-color: lightblue;
}

.radio-input-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 6px;
    width: 100%;
    height: 100%;
}

.radio-input-container label {
    display: inline-block;
    margin-right: 10px;
}

.radio-input-container input[type="radio"] {
    accent-color: #f77124;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.submit-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form input[type="submit"] {
    background-color: #138496;
    border-color: #117a8b;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 500;
    color: #f9d342;
    cursor: pointer;
}

.form input::file-selector-button {
    display: block;
    width: 100%;
    background-color: #fffff0;
    border: thin solid #117a8b;
    padding: 8px 8px;
    border-radius: 8px;
    margin-top: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

.form input[type="file"] {
    white-space: normal;
    word-wrap: break-word;
}

/* Author About */

.author-about-container {
    display: flex;
    gap: 40px;
    background-color: rgb(0 0 0 / 0.5);
    max-width: 800px;
    max-height: 600px;
    padding: 30px 40px;
    border-radius: 20px;
    color: #e4d8c9;
}

.author-about-container .image-container {
    margin-top: 54px;
}

.author-about-container .image-holder {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.author-about-container .image-container img {
    width: 100%;
}

.text-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-content-container h2 {
    color: #f9d342;
    font-size: 30px;
}

.text-content-container h3 {
    color: #f9d342;
    font-size: 20px;
    text-decoration: underline;
}

.author-description-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding-right: 20px;
}

.author-books-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow: auto;
    padding-right: 20px;
    margin: 0;
    font-size: 20px;
    color: #e4d8c9;
}

.author-books-container a {
    background-color: #f9d342;
    padding: 6px 16px;
    border-radius: 20px;
    color: blue;
    font-size: 14px;
}

.book-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Authors */

.all-authors-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(0 0 0 / 0.4);
    width: 700px;
    height: 100%;
    padding: 30px 30px;
    color: #e4d8c9;
}

.all-authors-container h2 {
    text-align: center;
    color: #f9d342;
    text-decoration: underline;
}

.pagination-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}

.page-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.page-nav-button {
    background-color: #f9d342;
    width: 50px;
    padding: 6px 0;
    border-radius: 20px;
    color: blue;
    font-size: 14px;
    text-align: center;
}

.authors-names-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding-right: 20px;
}

.author-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.author-image-holder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.author-image-container img {
    width: 100%;
}

.author-name-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    color: #f9d342;
}

.about-button,
.remove-button,
.reserve-button,
.close-button {
    background-color: #f9d342;
    padding: 6px 16px;
    border-radius: 20px;
    color: blue;
    font-size: 14px;
}

/* About Library */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    overflow: auto;
    background-color: rgb(0 0 0 / 0.5);
    width: 700px;
    height: 100%;
    padding: 30px 30px;
    color: #e4d8c9;
    font-size: 18px;
}

.about-container h1 {
    text-align: center;
}

.about-container h1,
h3 {
    color: #f9d342;
    text-decoration: underline;
}

.library-collection-list,
.borrowing-rules-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 20px;
}

.library-collection-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* User Profile */

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(0 0 0 / 0.5);
    width: 30%;
    max-height: 700px;
    padding: 30px 40px;
    border-radius: 20px;
    color: #e4d8c9;
    overflow: auto;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.profile-image-holder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(255 255 255 / 0.9);
    background-color: rgb(255 255 255 / 0.5);
    overflow: hidden;
}

.profile-image-holder img {
    width: 100%;
}

.profile-image-container p {
    color: #f9d342;
    font-size: 18px;
    text-align: center;
}

.verify-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="password"] {
    display: block;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    color: #323538;
    border-radius: 6px;
    border: 1px solid #074c74;
    margin-top: 6px;
    outline: none;
}

.profile-form input::file-selector-button {
    display: block;
    width: 100%;
    background-color: #fffff0;
    border: thin solid #117a8b;
    padding: 8px 8px;
    border-radius: 8px;
    margin-top: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}

.profile-form input[type="text"]:disabled,
.profile-form input[type="email"]:disabled,
.profile-form input[type="password"]:disabled,
.profile-form input[type="file"]:disabled::file-selector-button {
    background-color: #ffffffd5;
}

.profile-form input:focus {
    background-color: lightblue;
}

.profile-buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#edit-btn,
#close-btn,
#cancel-btn,
#save-btn {
    background-color: #f9d342;
    width: 80px;
    padding: 6px 0;
    border: none;
    border-radius: 20px;
    color: blue;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

#cancel-btn,
#save-btn {
    display: none;
}

/* Book About */

.book-about-container {
    display: flex;
    gap: 40px;
    background-color: rgb(0 0 0 / 0.5);
    max-width: 800px;
    max-height: 600px;
    padding: 30px 40px;
    border-radius: 20px;
    color: #e4d8c9;
    overflow: auto;
}

.book-about-container .image-holder {
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.book-about-container .image-container img {
    width: 100%;
}

.book-about-text-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.book-about-text-content-container h2 {
    color: #f9d342;
    font-size: 30px;
}

.book-about-text-content-container h3 {
    color: #f9d342;
    font-size: 20px;
    text-decoration: underline;
}

.book-about-text-content-container h4 {
    color: #e4d8c9;
}

.book-about-text-content-container h4 a {
    color: #e4d8c9;
}

.book-about-text-content-container h4 a:hover {
    color: #b9aea1;
}

.book-description-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding-right: 20px;
}

.book-details-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 16px;
    color: #e4d8c9;
    padding-right: 20px;
    margin: 0;
}

.book-details-book-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-about-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.book-about-buttons-container a {
    background-color: #f9d342;
    padding: 6px 16px;
    border-radius: 20px;
    color: blue;
    font-size: 14px;
}

/* Books */

.all-books-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(0 0 0 / 0.4);
    width: 700px;
    height: 100%;
    padding: 30px 30px;
    color: #e4d8c9;
}

.all-books-container h2 {
    text-align: center;
    color: #f9d342;
    text-decoration: underline;
}

.books-names-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding-right: 20px;
}

.book-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.book-image-holder {
    width: 50px;
    height: 70px;
    border-radius: 4px;
    overflow: hidden;
}

.book-image-container img {
    width: 100%;
}

.book-name-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    font-size: 20px;
    color: #f9d342;
}

/* Cart for books to borrow */

.cart {
    cursor: pointer;
    width: 50px;
    height: 40px;
}

.cart-img {
    width: 50px;
}

.badge {
    padding: 0 3px;
    background-color: rgb(161, 7, 7);
    color: #f9d342;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: -40px;
    right: -30px;
    width: 20px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(0 0 0 / 0.5);
    max-width: 800px;
    max-height: 600px;
    padding: 30px 40px;
    border-radius: 20px;
    color: #e4d8c9;
    overflow: auto;
}

.cart-container h2 {
    text-align: center;
}

.max-books-number-alert {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.cart-books-names-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-buttons-container {
    display: flex;
    justify-content: space-around;
}

/* Error messages */

.validation-error-message {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8b0000;
    font-size: 18px;
    font-weight: 400;
    margin-top: 6px;
}

.input-validation-error {
    border: 2px solid #be1414 !important;
    background-color: #fffff0 !important;
}