<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/commons.html::head}">
    <title>The Old Library</title>
</head>

<body>
    <div class="site">
        <header th:replace="~{/fragments/commons.html::header}">
        </header>

        <main>
            <div class="form-container">
                <form class="form" th:action="@{/authors/add}" th:method="post" th:object="${addAuthorDTO}" enctype="multipart/form-data">
                    <h2 class="form-heading">Add Author</h2>
                    <div class="form-row-container">
                        <div class="input-field-container">
                            <label for="firstName">First name:</label>
                            <input class="validation-error-input" type="text" id="firstName"
                                   placeholder="Type author's first name..."
                                   th:field="*{firstName}"
                                   th:errorclass="'input-validation-error'"/>
                            <p class="validation-error-message"
                               th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Message</p>
                        </div>
                        <div class="input-field-container">
                            <label for="lastName">Last name:</label>
                            <input class="validation-error-input" type="text" id="lastName"
                                   placeholder="Type author's last name..."
                                   th:field="*{lastName}"
                                   th:errorclass="'input-validation-error'"/>
                            <p class="validation-error-message"
                               th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Message</p>
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="input-field-container">
                            <label for="presentation">Author's presentation:</label>
                            <textarea rows="4" id="presentation" placeholder="Enter author's presentation..."
                                      th:field="*{presentation}"
                                      th:errorclass="'input-validation-error'">
                            </textarea>
                            <p class="validation-error-message"
                               th:if="${#fields.hasErrors('presentation')}" th:errors="*{presentation}">Message</p>
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="input-field-container input-file-width">
                            <label for="imageFile">Choose an author's image:</label>
                            <input type="file" id="imageFile" multiple="multiple"
                                   th:field="*{imageFile}"/>
                            <p class="validation-error-message"
                               th:if="${isFileSizeExceeded}" th:text="${errorMessage}">Message</p>
                            <p class="validation-error-message"
                               th:if="${#fields.hasErrors('imageFile')}" th:errors="*{imageFile}">Message</p>
                            <p class="validation-error-message" id="error" hidden>File size must be less than 2MB.</p>
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="submit-container">
                            <input type="submit" value="Add Author" />
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <footer th:replace="~{/fragments/commons.html::footer}">
        </footer>
    </div>
    <script th:src="@{/js/file-upload.js}"></script>
</body>

</html>