<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/commons.html::head}">
    <title>The Old Library</title>
</head>

<body>
    <div class="site">
        <header th:replace="~{/fragments/commons.html::header}">
        </header>

        <main>
            <div class="author-about-container" th:object="${authorDTO}">
                <div class="image-container">
                    <div class="image-holder">
                        <img th:src="*{imageURL}"
                             alt="Author image">
                    </div>
                </div>
                <div class="text-content-container">
                    <h2 th:text="|*{firstName} *{lastName}|">Astrid Lindgren</h2>
                    <p th:text="*{presentation}">Astrid Anna Emilia Lindgren (Swedish - 14 November 1907 - 28
                        January 2002) was a Swedish writer of fiction and screenplays. She is best known for several
                        children's book series, featuring Pippi
                        Longstocking, Emil of Lönneberga, Karlsson-on-the-Roof, and the Six Bullerby Children (Children of
                        Noisy Village in the US), and for the children's fantasy novels Mio, My Son; Ronia the Robber's
                        Daughter; and The Brothers Lionheart.
                    </p>
                    <h3>Books by the author available in our library</h3>
                    <div class="author-books-container">
                        <div class="book-container"><span>1.Pippi Longstocking</span><a href="#">View</a></div>
                        <div class="book-container"><span>2.Emil of Lönneberga</span><a href="#">View</a></div>
                        <div class="book-container"><span>3.Karlsson-on-the-Roof</span><a href="#">View</a></div>
                    </div>
                </div>
            </div>
        </main>

        <footer th:replace="~{/fragments/commons.html::footer}">
        </footer>
    </div>
</body>

</html>