<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/commons.html::head}">
    <title>Online Library System</title>
</head>

<body>
    <div class="site">
        <header th:replace="~{/fragments/commons.html::header}">
        </header>

        <main>
            <div class="all-authors-container">
                <h2>List of authors</h2>
                <p>Number of available authors: <span th:text="${authorsCount}">25</span></p>
                <div class="authors-names-container">
                    <div class="author-container" th:each="author : ${authors}">
                        <div class="author-image-container">
                            <div class="author-image-holder">
                                <img th:src="${author.getImageURL()}" alt="Author image"/>
                            </div>
                        </div>
                        <div class="author-name-container">
                            <div class="author-name-container"
                                 th:text="${author.getFirstName()} + ' ' + ${author.getLastName()}">Agatha Christie</div>
                            <div class="author-about">
                                <a th:href="@{/authors/{id}/about (id=${author.getId()})}">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer th:replace="~{/fragments/commons.html::footer}">
        </footer>
    </div>
</body>

</html>