<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/commons.html::head}">
    <title>The Old Library</title>
</head>

<body>
    <div class="site">
        <header th:replace="~{/fragments/commons.html::header}">
        </header>

        <main>
            <div class="all-books-container">
                <h2>Books</h2>
                <div class="pagination-container">
                    <p>Number of available books: <span th:text="${booksCount}">25</span></p>
                    <div class="page-nav">
                        <a class="page-nav-button" th:if="${currentPage > 0}"
                           th:href="@{/books/all(page=${currentPage - 1}, size=6)}">&lt;&lt;</a>
                        <span th:text="'Page ' + (${currentPage} + 1) + ' of ' + ${totalPages}"></span>
                        <a class="page-nav-button" th:if="${currentPage + 1 < totalPages}"
                           th:href="@{/books/all(page=${currentPage + 1}, size=6)}">&gt;&gt;</a>
                    </div>
                </div>
                <div class="books-names-container">
                    <div class="book-container" th:each="book : ${books}">
                        <div class="book-image-container">
                            <div class="book-image-holder">
                                <img th:src="${book.imageURL}" alt="Book image">
                            </div>
                        </div>
                        <div class="book-name-container">
                            <div class="book-name-container" th:text="${book.title}">And Then There Were None</div>
                            <div class="book-about">
                                <a class="about-button" href="#">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer th:replace="~{/fragments/commons.html::footer}">
        </footer>
    </div>
</body>

</html>