<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/commons.html::head}">
    <title>The Old Library</title>
</head>

<body>
    <div class="site">
        <header th:replace="~{/fragments/commons.html::header}">
        </header>

        <main>
            <div class="cart-container">
                <div class="text-content-container">
                    <h2>Your space for books borrowing</h2>
                    <p class="max-books-number-alert"
                       th:if="${remainingNumberOfBooks == 0}">You can borrow up to 3 books at a time.</p>
                    <div class="cart-stat-container">
                        <div class="cart-stat-container-row">
                            <p>Number of books already borrowed and not yet returned: </p>
                            <span th:text="${borrowedBooks}">2</span>
                        </div>
                        <div class="cart-stat-container-row">
                            <p>Number of books already reserved: </p>
                            <span th:text="${reservedBooks}">1</span>
                        </div>
                        <div class="cart-stat-container-row">
                            <p>Remaining number of books you can add for reservation: </p>
                            <span th:text="${remainingNumberOfBooks}">1</span>
                        </div>
                    </div>
                    <h3>Books to borrow</h3>
                </div>
                <div class="cart-books-names-container" th:each="book : ${selectedBooks}">
                    <div class="book-container">
                        <div class="book-image-container">
                            <div class="book-image-holder">
                                <img th:src="${book.imageURL}"
                                     alt="Author image">
                            </div>
                        </div>
                        <div class="book-name-container">
                            <div class="book-name-container" th:text="${book.title}">The Hitchhiker's Guide to the Galaxy</div>
                            <div class="book-about">
                                <a class="about-button" th:href="@{/cart/remove(id=${book.id})}">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-buttons-container">
                    <form th:action="@{/cart/reserve}" th:method="post">
                        <button type="submit" class="reserve-button"
                                th:classappend="${selectedBooks == null || selectedBooks.isEmpty()} ? 'disabled'">Reserve books</button>
                    </form>
                    <a class="close-button" th:href="@{/}">Close</a>
                </div>
            </div>
        </main>

        <footer th:replace="~{/fragments/commons.html::footer}">
        </footer>
    </div>
</body>

</html>