<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/commons.html::head}">
    <title>The Old Library</title>
</head>

<body>
    <div class="site">
        <header th:replace="~{/fragments/commons.html::header}">
        </header>

        <main>
            <div class="form-container">
                <form class="form" action="#" method="post" autocomplete="off">
                    <h2 class="form-heading">Change password</h2>
                    <div class="form-row-container">
                        <div class="input-field-container">
                            <label for="password">Old password:</label>
                            <input type="password" id="password" placeholder="Type your old password..." />
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="input-field-container">
                            <label for="newPassword">New password:</label>
                            <input type="password" id="newPassword" placeholder="Type new password..." />
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="input-field-container">
                            <label for="confirmPassword">Confirm new password:</label>
                            <input type="password" id="confirmPassword" placeholder="Re-type new password..." />
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="submit-container">
                            <input type="submit" value="Login" />
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <footer th:replace="~{/fragments/commons.html::footer}">
        </footer>
    </div>
</body>

</html>