<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/commons.html::head}">
    <title>The Old Library</title>
</head>

<body>
    <div class="site">
        <header th:replace="~{/fragments/commons.html::header}">
        </header>

        <main>
            <div class="form-container">
                <form class="form" th:action="@{/users/login}" th:method="post">
                    <h2 class="form-heading">Login</h2>
                    <p class="validation-error-message" th:if="${badCredentials}" th:text="${errorMessage}">Message</p>
                    <div class="form-row-container">
                        <div class="input-field-container">
                            <label for="username">Username:</label>
                            <input type="text" id="username" placeholder="Type your username..."
                                   name="username"
                                   th:value="${username}"/>
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="input-field-container">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" placeholder="Type your password..."/>
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="submit-container">
                            <input type="submit" value="Login"/>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <footer th:replace="~{/fragments/commons.html::footer}">
        </footer>
    </div>
</body>

</html>