<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Library System</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}"/>
    <link rel="stylesheet" th:href="@{/styles/reset.css}"/>
    <link rel="stylesheet" th:href="@{/styles/library-system.css}"/>
</head>

<body>
<header>
    <div class="logo-container">
        <a th:href="@{/}">
            <img class="logo" th:src="@{/images/logo.png}" alt="Logo image"/>
        </a>
        <h1 class="header-heading">Online Library System</h1>
    </div>
    <nav class="header-navigation">
        <ul class="header-list">
            <li><a href="#">About Library</a></li>
            <li><a href="#">Authors</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a th:href="@{/users/register}">Register</a></li>
            <li><a th:href="@{/users/login}">Login</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="form-container">
        <form th:action="@{/users/login}" th:method="post" th:object="${userLoginDTO}">
            <h2 class="form-heading">Login</h2>
            <div class="form-row-container">
                <div class="input-filed-container">
                    <label for="userName">Username</label>
                    <input type="text" id="userName" placeholder="Type your username..."
                           th:field="*{username}"/>
                </div>
            </div>
            <div class="form-row-container">
                <div class="input-filed-container">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Type your password"
                           th:field="*{password}"/>
                </div>
            </div>
            <div class="form-row-container">
                <div class="submit-container">
                    <input type="submit" value="Login"/>
                </div>
            </div>
        </form>
    </div>
</main>

<footer>
    <p>&copy; 2025 The Old Librarian</p>
</footer>
</body>

</html>