<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/commons.html::head}">
    <title>Online Library System</title>
</head>

<body>
    <header th:replace="~{/fragments/commons.html::header}">
    </header>

    <main>
        <div class="form-container">
            <form class="form" th:action="@{/users/login}" th:method="post" th:object="${userLoginDTO}">
                <h2 class="form-heading">Login</h2>
                <p class="validation-error-message" th:if="${badCredentials}" th:text="${errorMessage}">Message</p>
                <div class="form-row-container">
                    <div class="input-field-container">
                        <label for="userName">Username</label>
                        <input type="text" id="userName" placeholder="Type your username..."
                               th:field="*{username}"
                               th:errorclass="'input-validation-error'"/>
                        <p class="validation-error-message"
                           th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Message</p>
                    </div>
                </div>
                <div class="form-row-container">
                    <div class="input-field-container">
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="Type your password"
                               th:field="*{password}"
                               th:errorclass="'input-validation-error'"/>
                        <p class="validation-error-message"
                           th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}">Message</p>
                    </div>
                </div>
                <div class="form-row-container">
                    <div class="submit-container">
                        <input type="submit" value="Login"/>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <footer th:replace="~{/fragments/commons.html::footer}">
    </footer>
</body>

</html>