<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/commons.html::head}">
    <title>The Old Library</title>
</head>

<body>
    <div class="site">
        <header th:replace="~{/fragments/commons.html::header}">
        </header>

        <main>
            <div class="profile-container">
                <form class="profile-form" autocomplete="off" enctype="multipart/form-data" novalidate
                      th:action="@{/user/profile}"
                      th:method="patch"
                      th:object="${userProfileDTO}" >
                    <div class="form-row-container">
                        <div class="profile-image-container">
                            <div class="profile-image-holder">
                                <img th:src="${#authentication.principal.imageURL}" alt="User image">
                            </div>
                            <div>
                                <p th:text="${#authentication.principal.username}">username</p>
                                <p>[
                                    <span sec:authorize="hasRole('USER')">Reader</span>
                                    <span sec:authorize="hasRole('STAFF')">Librarian</span>
                                    <span sec:authorize="hasRole('ADMIN')">Administrator</span>
                                    ]</p>
                            </div>
                        </div>
                        <div class="verify-password-container">
                            <div class="input-field-container">
                                <p class="validation-error-message-profile"
                                   th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Message</p>
                            </div>
                            <div class="input-field-container" id="password-container">
                                <label for="password">Verify password:</label>
                                <input type="password" id="password" autocomplete="new-password" placeholder="Type your password..."
                                       th:field="*{password}"
                                       th:errorclass="'input-validation-error'"/>
                                <div class="input-field-container">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="input-field-container">
                            <label for="firstName">First name:</label>
                            <input type="text" id="firstName"
                                   th:field="*{firstName}"
                                   th:errorclass="'input-validation-error'"/>
                            <p class="validation-error-message-profile"
                               th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Message</p>
                        </div>
                        <div class="input-field-container">
                            <label for="lastName">Last name:</label>
                            <input type="text" id="lastName"
                                   th:field="*{lastName}"
                                   th:errorclass="'input-validation-error'"/>
                            <p class="validation-error-message-profile"
                               th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Message</p>
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="input-field-container">
                            <label for="email">E-mail:</label>
                            <input type="email" id="email"
                                   th:field="*{email}"
                                   th:errorclass="'input-validation-error'"/>
                            <p class="validation-error-message-profile"
                               th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Message</p>
                        </div>
                        <div class="input-field-container">
                            <label for="phoneNumber">Phone number:</label>
                            <input type="text" id="phoneNumber"
                                   th:field="*{phoneNumber}"
                                   th:errorclass="'input-validation-error'"/>
                            <p class="validation-error-message-profile"
                               th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Message</p>
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="input-field-container">
                            <label for="address">Address:</label>
                            <input type="text" id="address"
                                   th:field="*{address}"
                                   th:errorclass="'input-validation-error'"/>
                            <p class="validation-error-message-profile"
                               th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Message</p>
                        </div>
                    </div>
                    <div class="form-row-container">
                        <div class="input-field-container">
                            <p>Gender:</p>
                            <div class="radio-input-container">
                                <div th:each="g : ${genders}">
                                    <label th:for="${#strings.toLowerCase(g)}"
                                           th:text="${#strings.capitalizeWords(#strings.toLowerCase(g))}">Male</label>
                                    <input type="radio" th:id="${#strings.toLowerCase(g)}"
                                           th:field="*{gender}"
                                           th:value="${g}"
                                           th:errorclass="'input-validation-error'"/>
                                </div>
                                <p class="validation-error-message-profile"
                                   th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Message</p>
                            </div>
                        </div>
                        <div class="input-field-container input-file-width">
                            <label for="imageFile">Image:</label>
                            <input type="file" id="imageFile" multiple="multiple"
                            th:field="*{imageFile}"/>
                            <p class="validation-error-message-profile"
                               th:if="${isFileSizeExceeded}" th:text="${errorMessage}">Message</p>
                            <p class="validation-error-message-profile"
                               th:if="${#fields.hasErrors('imageFile')}" th:errors="*{imageFile}">Message</p>
                        </div>
                    </div>
                    <div class="profile-buttons-container">
                        <a href="" id="edit-btn">Edit</a>
                        <a th:href="@{/}" id="close-btn">Close</a>
                        <input type="submit" id="save-btn" value="Save" />
                        <a href="" id="cancel-btn">Cancel</a>
                    </div>
                </form>
            </div>
        </main>

        <footer th:replace="~{/fragments/commons.html::footer}">
        </footer>
    </div>
    <script th:src="@{/js/profile.js}"></script>
</body>

</html>