<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/commons.html::head}">
    <title>The Old Library</title>
</head>

<body>
    <div class="site">
        <header th:replace="~{/fragments/commons.html::header}">
        </header>

        <main>
            <div class="error-container">
                <div class="error-text-container">
                    <p>Your session has expired.</p>
                    <p>Please log in again.</p>
                </div>
                <div class="error-buttons-container">
                    <a class="contacts-button" th:href="@{/users/login}">Login</a>
                </div>
            </div>
        </main>

        <footer th:replace="~{/fragments/commons.html::footer}">
        </footer>
    </div>
</body>

</html>