html,
body {
    margin: 0;
    height: 100vh;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #4f8db2;
    background-image: linear-gradient(to bottom right, rgba(134, 164, 182, 0.6), rgba(7, 76, 116, 0.8));
    color: #f9d342;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    font-size: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    height: 100%;
}

.logo {
    height: 100%;
}

.header-heading {
    display: block;
    font-size: 26px;
    margin-left: 10px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.header-navigation a,
.user-space button {
    color: #f9d342;
}

.header-navigation a:hover,
.user-space button:hover {
    color: #e9bd0c;
}

.user-space {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    border-radius: 6px;
    box-shadow: 2px 2px;
    margin-left: 10px;
}

.user-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
}

.user-avatar-container img {
    width: 100%;
}

.user-space p {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.user-space button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
    cursor: default;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(to bottom right, rgba(134, 164, 182, 0.6), rgba(7, 76, 116, 0.8));
    min-width: 130px;
    padding: 6px 20px;
    margin-bottom: 20px;
    z-index: 1;
    list-style: none;
    border-radius: 6px;
}

.dropdown-content li {
    margin: 8px 0;
    font-size: 17px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow-icon {
    width: 20px;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-image: url('/images/background-library.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #a9a9a9;
    width: 100%;
    overflow: hidden;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #2a688c;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #f9d342;
}

/* Form */

.form-container {
    width: 30%;
}

.form {
    background-image: linear-gradient(to bottom right, rgba(134, 164, 182, 0.6), rgba(7, 76, 116, 0.8));
    padding: 20px 30px 10px 30px;
    border-radius: 20px;
    color: #f9d342;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
}

.form-heading {
    display: block;
    font-size: 36px;
    color: #f9d342;
    text-align: center;
    margin-bottom: 10px;
}

.form-row-container {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.input-field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 6px;
    font-size: 16px;
    color: #323538;
    border-radius: 6px;
    border: 1px solid #074c74;
    margin-top: 6px;
    outline: none;
}

.form input:focus {
    background-color: lightblue;
}

.radio-input-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 6px;
    width: 100%;
    height: 100%;
}

.radio-input-container label {
    display: inline-block;
    margin-right: 10px;
}

.radio-input-container input[type="radio"] {
    accent-color: #074c74;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.submit-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form input[type="submit"] {
    background-color: #138496;
    border-color: #117a8b;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 500;
    color: #f9d342;
    cursor: pointer;
}

.form input::file-selector-button {
    background-color: #fffff0;
    border: thin solid #117a8b;
    padding: 8px 8px;
    border-radius: 8px;
    margin-top: 6px;
}

/* Author About */

.author-about-container {
    display: flex;
    gap: 40px;
    background-color: rgb(0 0 0 / 0.5);
    max-width: 800px;
    max-height: 500px;
    padding: 30px 40px;
    border-radius: 20px;
    color: #e4d8c9;
    overflow: auto;
}

.image-container {
    margin-top: 54px;
}

.image-holder {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
}

.text-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-content-container h2 {
    color: #f9d342;
    font-size: 30px;
    text-decoration: underline;
}

.text-content-container h3 {
    color: #f9d342;
    font-size: 20px;
    text-decoration: underline;
}

.author-books-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-size: 20px;
    color: #e4d8c9;
}

.author-books-container a {
    background-color: #f9d342;
    padding: 6px 16px;
    border-radius: 20px;
    color: blue;
    font-size: 14px;
}

.author-books-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding-right: 20px;
    margin: 0;
}

.book-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Author About */

.all-authors-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(0 0 0 / 0.4);
    width: 700px;
    height: 100%;
    padding: 30px 30px;
    color: #e4d8c9;
}

.all-authors-container h2 {
    text-align: center;
    color: #f9d342;
    text-decoration: underline;
}

.pagination-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}

.page-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.page-nav-button {
    background-color: #f9d342;
    width: 50px;
    padding: 6px 0;
    border-radius: 20px;
    color: blue;
    font-size: 14px;
    text-align: center;
}

.authors-names-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    padding-right: 20px;
}

.author-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.author-image-holder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.author-image-container img {
    width: 100%;
}

.author-name-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    color: #f9d342;
}

.about-button {
    background-color: #f9d342;
    padding: 6px 16px;
    border-radius: 20px;
    color: blue;
    font-size: 14px;
}

/* About Library */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    overflow: auto;
    background-color: rgb(0 0 0 / 0.5);
    width: 700px;
    height: 100%;
    padding: 30px 30px;
    color: #e4d8c9;
    font-size: 18px;
}

.about-container h1 {
    text-align: center;
}

.about-container h1, h3 {
    color: #f9d342;
    text-decoration: underline;
}

.library-collection-list, .borrowing-rules-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 20px;
}

.library-collection-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Error messages */

.validation-error-message {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8b0000;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
}

.input-validation-error {
    border: 2px solid #be1414 !important;
    background-color: #fffff0 !important;
}